.label {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

page-view {
  background-color: rgb(242, 242, 242);
  margin-top: 20px;
  margin-bottom: 40px;
  display: block;

  /* defaults, will get overridden if defined in form */
  width: 960px;
  height: 1260px;

  position: relative;
}

.field {
  font-family: "Times New Romain", Times, serif;
  padding: 0;
  font-size: 15px;
}

.line {
  background-color: lightgrey;
}
